
/* @group General */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

body, textarea {
	color: #333;
	font: 12px/1.3 Candara, "Trebuchet MS", "Helvetica Neue", Helvetica, Verdana, "Verdana Ref", sans-serif;
}

body {
	width: 100%;
	min-width: 960px;
	background: #333;
}

.amp {
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

ol, ul {
	list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Links */

a,
a:link,
a:active,
a:visited {
	padding: 1px;
	color: #0a6782;
	outline: none;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #0a6782;
	outline: none;
	text-decoration: underline;
}

a.admin,
a.admin:link,
a.admin:active,
a.admin:visited,
a.delete,
a.delete:link,
a.delete:active,
a.delete:visited,
a.cancel,
a.cancel:link,
a.cancel:active,
a.cancel:visited {
	padding: 5px;
	color: #0a6782;
	font-size: 11px;
	font-weight: normal;
	line-height: 22px;
	text-decoration: underline;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

a.error,
a.error:link,
a.error:active,
a.error:visited,
a.delete,
a.delete:link,
a.delete:active,
a.delete:visited,
a.cancel,
a.cancel:link,
a.cancel:active,
a.cancel:visited {
	color: #d12f19;
}

a.admin:hover {
	color: #fff;
	background-color: #01a3d2;
	text-decoration: none;
}

a.error:hover,
a.delete:hover,
a.cancel:hover {
	color: #fff;
	text-decoration: none;
	background-color: #d12f19;
}

strong {
	font-weight: bold;
}

/* Get rid of the dotted outline in Firefox */
button::-moz-focus-inner {
	border: 0;
}

/* >> The Magnificent CLEARFIX << */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }

/* @end */

/* @group Page Structure */

.wrap {
	position: relative;
	width: 960px;
	margin: 0 auto;
}

.print, #footerPrint {
	display: none;
}

/* @group Header */

#header {
	position: relative;
	color: #fff;
	background: #707070;
	border-bottom: 4px solid #333;
}

#header p.logo {
	position: absolute;
	top: 16px;
	width: 251px;
	height: 83px;
}

#header p.logo a.img {
	display: block;
	padding: 0;
}

#header .navigation {
	position: absolute;
	right: 0;
	bottom: 0px;
	margin: 0;
	padding: 0;
}

#header .navigation li {
	float: left;
	list-style-type: none;
	margin: 0 0 0 20px;
	padding: 0;
}

#header .navigation li a,
#header .navigation li a:link,
#header .navigation li a:hover,
#header .navigation li a:active,
#header .navigation li a:visited {
	display: block;
	margin: 0;
	padding: 10px 10px 13px;
	font-size: 14px;
	text-decoration: none;
	color: #B8B8B8;
}

#header .navigation li a:hover {
	color: #fff;
}

#header .navigation li.current a,
#header .navigation li.current a:hover {
	color: #f2f2f2;
	font-weight: bold;
	background: url(/css/common/img/header_nav_current.png) no-repeat 50% 100%;
}

/* @end */

/* @group Content */

#content {
	clear: both;
	background: #f5f5eb url(/css/common/img/background-linear.png) repeat-x;
}

#content .wrap {
	padding: 40px 0 0;
}

/* @group js-disabled */

.error-mess {
  padding: 10px 15px;
  margin: 10px 10px 20px;
	color: #A91129;
	background: #e6ced1;
	border: 2px solid #d5a9a6;
}

.error-mess h1 {
	font-size: 20px;
	margin: 0 0 10px;
}

.error-mess p {
	margin: 5px 0;
}

.error-mess strong {
	font-weight: bold;
}

.error-mess .notice {
	padding: 0;
	margin: 10px 0;
	font-style: italic;
	text-align: left;
	background: none;
	border: none;
}

body div.js-disabled {
	display: none;
}

body.js-disabled div.js-disabled {
	display: block;
}

/* @end */

#main {
	float: left;
	width: 720px;
}

#aside {
	float: left;
	width: 220px;
	margin: 0 10px;
}

#aside hr {
	margin: 10px 0 20px;
	border: 1px solid #d6d6cd;
	border-width: 1px 0 0;
}

/* @end */

/* @group Fatal Error */

.fatalErrorMsg {
	margin: 0 0 1em;
	padding: 2em 0 1em;
}
.fatalErrorMsg .messageContainer {
	margin: 0;
	padding: 25px 5px;
}
.fatalErrorMsg .messageContainer img {
	width: 48px;
	height: 48px;
	float: left;
	margin-right: 12px;
	margin-left: 5px;
}


.fatalErrorMsg .messageContainer h1 {
	color: #333;
	font-weight: normal;
	font-size: 165%;
	padding: 0;
	margin: 0;
	line-height: 100%;
	padding-top: 5px;
}

.fatalErrorMsg .messageContainer p {
	font-size: 100%;
	padding: 0;
	margin: 0;
}
.fatalErrorMsg .messageContainer p strong {
	font-weight: normal;
}
.fatalErrorMsg p {
	font-size: 12px;
	margin: 1em 0;
	padding: 0;
}

.fatalErrorMsg a,
.fatalErrorMsg a:link,
.fatalErrorMsg a:visited {
	text-decoration: underline;
}
.fatalErrorMsg .important {
	font-size: 16px;
}
.fatalErrorMsg ul {
	margin: 1em 0 0;
}
.fatalErrorMsg li {
	list-style-position: outside;
	list-style-type: disc;
	margin: 0 0 .5em 1em;
	padding: 0;
}

body.noScript .mainContent,
body.fatalError .mainContent,
body.noScript .additionnalFooter,
body.fatalError .additionnalFooter,
body.noScript .navigation,
body.fatalError .navigation {
	display: none
}
body.noScript .wrap,
body.fatalError .wrap {
	width: 540px;
}

/* @end */

/* @group Contact */

#contact .wrap {
	width: 920px;
	padding: 0 20px;
	margin: 0 auto;
	color: #fff;
}
#contact .wrap label {
	color: #fff;
}
#contact .wrap form {
	float: right;
}

/* @end */

/* @group Footer */

#footer-wrap {
	background: #333;
}

#footer {
	clear: both;
	padding: 30px 0;
	color: #666;
	text-align: center;
}

#footer .additionnalFooter {
	text-align: left;
}

#footer .end a {
	color: #777;
}

#footer .end a:hover {
	color: #fff;
}

#footer .end a {
	color: #707070;
	text-decoration: underline;
}

#footer .end a:hover,
#footer .end .end a:focus,
#footer .end a:active {
	color: #fff;
	text-decoration: none;
}

/* @end */

/* @group Popups */
.hidden-popups
{
	position: absolute;
	left: 0;
	bottom: 0;
	visibility: hidden;
	width: 1px;
	height: 1px;
}
/* @end */

/* @group Intro */

div.intro {
	padding: 10px 10px 5px;
	margin: 30px 0 20px;
	background: #cee1e6;
	border: 2px solid #9ccbd7;
}

div.intro h2 {
	margin: 0 0 5px;
	color: #0a6782;
	/*color: #5297ab;*/
	font-size: 20px;
	font-weight: bold;
	line-height: 1;
}

div.intro p {
	margin: 0 0 5px;
}


/* @end */

/* @group Tabs */

/*.tabs {
	overflow: hidden;
	padding: 0;
}

.tabs .nav {
	float: left;
	width: 100%;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid #d6d6cd;
	background: transparent;
}

.tabs .nav li {
	float: left;
	position: relative;
	top: 2px;
	margin: 0 5px 0 0;
}

#main .tabs-contener > .inner {
	border: none;
	background: transparent;
}

#main .tabs-contener > .inner .bd {
	position: relative;
	padding: 1px 30px 10px;
	border: 1px solid #d6d6cd;
	border-width: 0 1px 1px;
	background: #fff;
}

.tabs .nav li a,
form .tabs .nav li label {
	position: relative;
	display: block;
	padding: 11px 16px;
	font-size: 12px;
	line-height: 12px;
	font-weight: bold;
}

.tabs .nav li.tabs-selected a,
form .tabs .nav li.checked label,
form .tabs .nav li.checked label:hover {
	display: block;
	padding: 10px 15px;
	color: #333;
	border: 1px solid #d6d6cd;
	border-bottom: none;
	background-color: #fff;
}

.tabs .nav li.tabs-selected a:hover,
form .tabs .nav li.checked label:hover {
	text-decoration: none;
	cursor: default;
}

.tabs > div {
	clear: both;
	padding: 0 45px 10px;
}

.tabs div.sideTabs {
	overflow: hidden;
	padding: 10px 0;
}

#main .sideTabs .nav {
	float: left;
	width: auto;
	margin: 10px 0;
	padding: 0;
	border: none;
}

.sideTabs .nav li {
	float: none;
	display: block;
	margin: 0;
	padding: 0;
}

.sideTabs .nav li a {
	top: 0;
	left: 2px;
	padding: 10px;
	width: 180px;
}

.sideTabs .nav li.tabs-selected a {
	display: block;
	padding: 9px;
	border: 1px solid #ccc;
	border-right: none;
	background: #f5f5eb url(/css/common/img/sideTabs-bg.png);
}
.sideTabs .nav li.tabs-selected a:hover {
	text-decoration: none;
	cursor: default;
}

.sideTabs > div {
	clear: none;
	float: left;
	width: 419px;
	padding: 10px 0 0 10px;
	border: 1px solid #ccc;
	border-width: 0 0 0 1px;
	background: #f5f5eb;
}

.sideTabs > div textarea {
	width: 407px;
	height: 200px;
}*/



/* @end */

/* @group base */

.base {
	color: #333;
}

.base h2 {
	font-size: 16px;
	font-weight: bold;
	line-height: 1.5;
	margin: 40px 0 20px;
}

.base h3 {
	font-size: 14px;
	font-weight: bold;
	line-height: 1.5;
	padding: 10px 0 10px;
}

.base h3 .abbr {
	display: block;
	color: #666;
	font-size: 12px;
	font-weight: normal;
}

.base p {
	font-size: 12px;
	margin: 0 0 10px;
}

.base abbr {
	cursor: help;
}

.base abbr:hover {
	text-decoration: underline;
}

.base ul,
.base ol,
.base dl {
	padding: 0 0 0 20px;
}

.base li {
		padding: 0 0 0 15px;
	margin: 0 0 10px;
	background: url(/css/common/img/bullet.png) no-repeat 0 7px;
}

.base dt {
	padding: 0 0 0 15px;
	font-weight: bold;
	background: url(/css/common/img/bullet.png) no-repeat 0 7px;
}

.base dd {
	padding: 0 0 10px 15px;
	color: #666;
}

.base ul.index li a {
	color: #666;
}

.base ul.index li a:hover {
	color: #666;
	text-decoration: none;
}

.base ul.index li a strong {
	display: block;
	color: #0a6782;
}

.base ul.index li a:hover strong {
	color: #0a6782;
	text-decoration: underline;
}

.base hr {
	margin: 0 40px 20px;
	border: 1px solid #d6d6cd;
	border-width: 1px 0 0;
}

/*.base .bd hr {
	margin: 20px 40px;
	border: 1px solid #d6d6cd;
	border-width: 1px 0 0;
}*/

.base em {
	color: #666;
}

.base strong {
	font-weight: bold;
}

.base sup {
	font-size: 0.6em;
	line-height: 1;
	vertical-align: super;
}

.base .notice {
	font-size: 11px;
	font-style: italic;
}

.base span.notice {
	color: #999;
	font-weight: normal;
}

.base span.notice {
	display: block;
	line-height: 1;
	font-style: normal;
}

.base .exemple {
	color: #666;
	padding: 0 0 0 10px;
	margin: 0 0 15px;
	border-left: 2px solid #ccc;
}

.base li .exemple {
	margin: 0;
}

.base .highlight {
	padding: 8px;
	margin: 0 0 10px;
	border: 2px solid #cee1e6;
	background: #cee1e6;
}

.base table {
	width: 100%;
	margin: 0 0 20px;
}

.base table caption {
	color: #666;
	font-size: 10px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.base table th {
	font-weight: bold;
}

.base table th,
.base table td {
	padding: 4px;
}

.base table thead th,
.base table thead td {
	border: 1px solid #d6d6cd;
	border-width: 0 0 1px;
}

.base table tfoot th,
.base table tfoot td {
	border: 1px solid #d6d6cd;
	border-width: 1px 0 0;
}

.base table tbody .even th,
.base table tbody .even td {
	background: #e7f2f3;
}

.base table .currency {
	text-align: right;
	white-space: nowrap;
	padding-right: 20px;
}

.base table .date {
	text-align: right;
}

.base table .project {
	width: 100%;
}

.base table a {
	padding: 0;
	margin: 0;
	line-height: 11px;
	display: inline-block;
	border-bottom: 1px solid #ccc;
}

.base table td .leftNote {
	position: relative;
	left: -18px;
}

/* @end */

/* @group Modules */

.mod {
	clear: both;
	line-height: 1.8;
}

.mod.shadow {
	padding: 0 10px 8px;
	margin: 0 0 20px;
	border: none;
	background: url(/css/common/img/section-shadow.png) no-repeat 0 100%;
}


.block {
	padding: 10px;
	margin: 0 0 20px;
	border: 1px solid #d6d6cd;
	background: #fff;
}

.block.hd {
	color: #666;
	font-size: 18px;
	line-height: 1;
	background: #cee1e6;
}

.block-shadow {
	overflow: visible;
	position: relative;

	padding: 10px 10px 15px;
	margin: 0 0 28px;
	border: 1px solid #d6d6cd;

	background: #fff;
}

.block-shadow:before,
.block-shadow:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -27px;
	display: block;
	width: 50%;
	height: 26px;
	background: url(/css/common/img/block-shadow.png) no-repeat;
}

.block-shadow:after {
	left: auto;
	right: 0;
	background-position: 100% 100%;
}


.mod > .inner {
	overflow: hidden;
	position: relative;
	border: 1px solid #d6d6cd;
	background: #fff;
}

.mod.hd,
.mod > .hd,
.mod > .inner > .hd {
	overflow: hidden;
	padding: 10px;
	margin-bottom: 20px;
	color: #666;
	font-size: 18px;
	line-height: 1;
	background: #cee1e6;
}

.mod > .bd,
.mod > .inner > .bd {
	position: relative;
	padding: 0 60px 20px;
}

.mod > .ft,
.mod > .inner > .ft {
	padding: 0 60px 20px;
}

.mod > .hd h1,
.mod > .inner > .hd h1 {
	float: left;
	line-height: 20px;
}

.mod > .hd p.aside,
.mod > .inner > .hd p.aside {
	float: right;
	margin: 0;
	line-height: 20px;
}

/* @end */

/* @group Error */
.error ul {
	list-style: disc;
	margin: .5em 0 0;
	padding: 0;
	color: #900;
}
.error li {
	margin: 0 0 .5em 2em;
	padding: 0;
}
/* @end */
/* @group Contact */

#contactForm {
	display: none;
	padding: 0;
}
#contactForm input[type="text"],
#contactForm textarea
{
	width: 450px;
}

p.contactForm {
	position: absolute;
	right: 20px;
	top: 80px;
}

p.contactForm a {
	color: #fff;
}

/* @end */


/* @end */

/* @group Legal notice */

.legalNotice h4 {
	margin: 5px 0 0;
	font-size: 11px;
	padding: 0;

}

.legalNotice ul {
	margin: 0;
	padding: 0;
	list-style-type: disc;
}

.legalNotice li {
	margin: 0 0 0 20px;
	padding: 3px 0;
	font-size: 11px;
}

/* @end */

/* @group Legal notice Edit */

#legal p {
	padding: 10px 0;
}

.legalEdit .legalNotice {
	margin: 20px 0 0;
}

.legalEdit .legalNotice:first-child {
	margin: 0;
}

.legalEdit .hd {
	padding: 6px;
	font-size: 11px;
	line-height: 11px;
	background: #dfdfd2;
}

.legalEdit .hd:hover {
	background: #cbcbbc;
	cursor: pointer;
}

.legalEdit .hd span {
	float: right;
	font-weight: bold;
}

.legalEdit .bd {
	padding: 0 5px 5px;
}

.legalEdit .bd div.help {
	font-size: 11px;
	padding: 5px 0 0;
}

#main .sideTabs .legalEdit .bd textarea {
	margin: 5px 0 0;
	width: 397px;
}

.legalEdit .hide .bd {
	color: #998;
}

/* @end */



/* @end */

/* @group Overrides */

/* @group CGU */

#cguContent {

}

#cguContent h1 {
	font-size: 14px;
	font-weight: bold;
}

#cguContent h2 {
	margin: 20px 0 10px;
}

#cguContent div.cgu {
	padding: 10px 20px 0;
	margin: 0 0 10px;
	border: 1px solid #d6d5c7;
	border-width: 1px 0;
	background: #f5f5eb;
}

#cguContent div.legal h2 {
	margin: 10px 20px 0;
}

#cguContent div.legal p {
	margin: 0 20px 10px;
	color: #666;
}

/* @end */

#aside .base h1 {
	padding: 0 0 10px;
	color: #666;
	font-size: 10px;
	text-transform: uppercase;
}

#aside .base ul,
#aside .base ol {
	padding-left: 0;
}

#aside .base li {
	margin: 0;
}

#aside .base li.current {
	font-weight: bold;
}

#aside p.notice {
	color: #666;
}

/* @group help */

body.help .mod .hd {
	overflow: hidden;
	position: relative;
	top: -1px;
	padding: 10px;
	margin: 0 0 20px;
	color: #666;
	font-size: 18px;
	line-height: 1;
	border: 1px solid #d6d6cd;
	border-width: 1px 0;
	background: #f8f8f6 url(/css/common/img/section-header.png);
}

body.help .tabs .nav {
	width: 700px;
	padding: 0;
	margin: 0 10px;
	margin-bottom: 0;
}

body.help .tabs .nav li {
	margin: 0;
}

body.help .tabs .nav li a {
	font-size: 18px;
	line-height: 1;
}

body.help .tabs .nav li.tabs-selected a {
	color: #666;
	text-decoration: none;
	background: #fff;
}

body.help .tabs .nav li.tabs-selected a:hover {
	color: #666;
	text-decoration: none;
}

body.help .tabs .mod > .inner {
	border-top: none;
	padding-top: 30px;
}

.index .list h2 {
	padding: 0 0 5px 239px;
}

.index .list dl,
.index .list ul {
	padding-left: 224px;
}

/* Subscribe to freelancer */

body.help #subscribe p {
	color: #666;
	font-size: 11px;
}

body.help #subscribe a.btn {
	display: block;
	padding: 0;
	margin: 0 0 7px;
	color:#fff;
	font-size: 13px;
	font-weight: bold;
	line-height: 28px;
	text-align: center;

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1FE4F0', endColorstr='#0C829F',GradientType=0 ); /* ie */

	text-shadow: 0 1px 2px #777;

	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	-webkit-box-shadow: 0 1px 2px #999;
	-moz-box-shadow: 0 1px 2px #999;
	box-shadow: 0 1px 2px #999;
}

body.help #subscribe a:hover.btn {
	color:#fff;
	text-decoration: none;

	background: #529214; /* old browsers */

	background: -moz-linear-gradient(top, #A1D61D 0%, #5E9517 100%); /* firefox */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A1D61D), color-stop(100%,#5E9517)); /* webkit */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#A1D61D', endColorstr='#5E9517',GradientType=0 ); /* ie */
}

body.help .toggle .hd {
	color: #0a6782;
	margin-bottom: 0;
	top: 0;
	border: none;
	cursor: pointer;
}

body.help .toggle h1.hover {
	text-decoration: underline;
}

body.help .toggle div.bd {
	padding-top: 20px;
	border-top: 1px solid #d6d6cd;
}

/* @end */

/* @group .base .glossaire */

.base .glossaire h2 {
	padding: 10px 0;
	margin: 40px 0 10px;
	border: 1px solid #d6d6cd;
	border-width: 1px 0;
	font-size: 24px;
	text-align: center;
}

.base .glossaire .index {
	overflow: hidden;
	padding: 0;
}

.base .glossaire .index li {
	float: left;
	padding: 0;
	margin: 0 5px 0 0;
	background: none;
}

.base .glossaire .index li a,
.base .glossaire .index li span {
	display: block;
	padding: 5px;
	color: #bbb;
	line-height: 1;
	text-decoration: none;
	background: none;
}

.base .glossaire .index li a {
	color: #0a6782;
}

.base .glossaire .index li a:hover {
	color: #fff;
	background: #0a6782;
}

.base .glossaire hr {
	margin: 20px 0 10px;
	border-color: #ebebe6;
}


.to-load
{
  position: relative;
  height: 100px;
  padding-top: 87px;
  background-color: #fff;
}
.to-load span
{
  display: block;
  position: relative;
  width: 200px;
  height: 26px;
  margin: 0 auto;
  background: url(/css/common/img/ajaxSubmit.gif);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid #d6d5c7;
}

.extra .to-load
{
  height: 50px;
  padding-top: 28px;
}

/* @end */


/* @group General */

form fieldset {
	clear: both;
	overflow: hidden;
	padding: 0;
	margin: 0 0 10px;
	border: none;
	border-bottom: 1px solid #d6d5c7;
}

form fieldset fieldset {
	margin: 0 0 10px;
}

form li.subset fieldset,
form li.radio_list fieldset {
	margin: 0;
	border: none;
}

form legend, h2.legend {
	clear: both;
	margin: 30px 0 10px;
	color: #0a6782;
	font-size: 16px;
	font-weight: bold;
}

input.addClient {
	position: absolute;
	visibility: hidden;
}

form ul.subset li {
	padding: 0;
}

form li {
	overflow: hidden;
	margin: 0 0 15px;
}

form li.subset legend {
	padding: 0;
}

form li .form-field-wrap {
	float: left;
}

form li.has-error ul.error-list {
	float: left;
	margin: 0 0 0 5px;
}

form li.subset {
	padding: 0;
}

form li.field.removed {
	display: none;
}

label,
form li .label,
form li span.labelChoice,
form .subset legend,
form .radio_list legend {
	display: block;
	margin: 0;
	color: #333;
	font-size: 12px;
	line-height: 15px;
	font-weight: bold;
}
.checkboxRow label
{
	display: inline;
}

form li span.labelChoice {
	font-weight: normal;
}

span.labelChoice label {
	display: inline;
}

form li span.labelChoice a {
	text-transform: lowercase;
}

form li .help,
form .help label,
form .subset label,
form .radio_list label {
	clear: both;
	margin: 3px 0 0;
	color: #5d5d4e;
	font-weight: normal;
}

form li.checkbox_list li input {
	margin-top: 3px;
}

label em,
.label em,
legend em,
.legend em {
	color: #5d5d4e;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
}

input[type=text],
input[type=password],
textarea {
	width: 308px;
	padding: 3px 5px;
	border: 1px solid #d6d5c7;
}

input[type=text].percent {
	width: 25px;
}

select {
	margin: 3px 0;
}

input[type=text]:focus,
input[type=text].error:focus,
input[type=password]:focus,
input[type=password].error:focus,
textarea:focus,
textarea.error:focus {
	border-color: #01A3D2;
	border-width: 2px;
	padding: 2px 4px;
}

form li input.em {
	font-size: 15px;
}

form .checkbox_list li {
	overflow: hidden;
}

form .checkbox_list li label {
	float: left;
}

form .checkbox_list li input {
	float: left;
	width: auto;
	margin: 0 5px 5px 0;
}

form .checkbox_list li .help {
	clear: both;
	margin-left: 18px;
}

label.error,
.label.error,
.labelChoice .error {
	color: #d12f19;
}

.has-error input[type=text],
.has-error input[type=password],
.has-error select,
.has-error textarea
{
	border-style: solid;
	border-width: 2px;
	border-color: #d12f19;
	padding: 2px 4px;
}



/* @end */

/* @group Components */

/* @group ajax loader */

.submit .sendingNotifier {
	display: none;
	float: none;
	position: absolute;
	width: 200px;
	height: 26px;
	margin: 0;
	padding: 0;
	background: url(/css/common/img/ajaxSubmit.gif);
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 1px solid #d6d5c7;
}

.sending-data .sendingNotifier,
.redirection .sendingNotifier {
	display: block;
}

.sending-data .submit .content,
.redirection .submit .content {
	visibility: hidden;
}

/* @end */

/* @group radio list */

.radio_list ul {
	overflow: hidden;
}

.radio_list legend {
	padding: 0 0 5px;
}

.radio_list li {
	float: left;
	position: relative;
	padding: 0 20px 5px 0;
}

.radio_list li label {
	display: inline;
}

/* @end */

/* @group submit */

.submit {
	position: relative;
	overflow: hidden;
	margin: 20px 0 10px;
	padding: 0;
}
.submit .content {
	border: none;
	margin: 0;
	padding: 0;
}

.submit button,
.submit a.button,
.submit .extra {
	float: left;
	margin: 0 7px 0 0;
	background-color: #fff;
	font-size: 100%;
	line-height: 130%;
	text-decoration: none;
	font-weight: bold;
	color: #565656;
	cursor: pointer;
	border: none;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	padding: 7px 10px 5px 7px; /* Links */
}
.submit button,
.submit button:link,
.submit button:active,
.submit button:visited {
	width: auto;
	overflow: visible;
	outline: none;
	padding: 4px 10px 3px 7px; /* IE6 */
}
.submit button[type] {
	padding: 5px 10px 5px 7px; /* Firefox */
	line-height: 17px; /* Safari */
}
*:first-child+html button[type] {
	padding: 4px 10px 3px 7px; /* IE7 */
}
.submit button img, .submit a.button img {
	margin: 0 3px -3px 0 !important;
	padding: 0;
	border: none;
	width: 16px;
	height: 16px;
}

span.content {
	overflow: hidden;
}

.submit .extra {
	display: block;
	padding-left: 0;
	padding-right: 0;
	border: none;
	background: none;
	cursor: default;
	font-weight: normal;
}

.submit .small {
	padding: 0;
	margin: 0;
	color: #666;
	font-size: 11px;
	line-height: 14px;
}

.submit a.button.delete,
.submit a.button.cancel {
	text-decoration: underline;
}

.submit a.button.delete:hover,
.submit a.button.cancel:hover {
	text-decoration: none;
}


.right button, .right a.button, .right span {
	float: right;
	margin: 0 0 0 7px;
}

/* STANDARD */

button:hover, .submit a.button:hover{
	background-color: #dff4ff;
	color: #369;
}
.submit a.button:active {
	background-color:#6299c5;
	color:#fff;
}


/* NEGATIVE */

.submit a.button.negative, button.negative {
	color:#d12f19;
}

.submit a.button.negative:hover, button.negative:hover {
	background-color:#d12f19;
	color:#fff;
}

.submit a.button.negative:active {
	background:#fbe3e4;
	color:#d12f19;
}

/* @end */

/* @group error list */

form ul.error-list {
	margin: 0;
	padding: 0;
}

form ul.error-list li {
	padding: 0 0 0 10px;
	margin: 2px 0 0;
	color: #d12f19;
	font-weight: bold;
	line-height: 28px;
}

/* @end */



/* @end */

input.placeholderEmpty,
textarea.placeholderEmpty
{
	color: #aaa;
}

/* Loader on input fields are desactivated */
/*input[type=text].sending-data
{
	background-image: url(/css/common/img/small-loader.gif);
	background-repeat: no-repeat;
	background-position: 100% 50%;
}*/

/* @group Override */

#payment_amount {
	width: 100px;
	text-align: right;
}

/* @group TVA */

li.tvaNumber input {
	display: inline;
	text-align: center;
	width: 20px;
}

#userForm li.tvaNumber input.country,
#clientForm li.tvaNumber input.country,
#userForm li.tvaNumber input.siren {
	background: #f5f5eb;
	border-color: #f5f5eb;
}
ul.mdaAffiliated
{
  margin: 10px 0 0;
  padding: 0 20px;
}
ul.mdaAffiliated li
{
  margin: 0;
  padding: 0;
}

/* @end */




input.defaultUnitPrice
{
	width: 40px;
	text-align: right;
}
input.estimateValidationDelay,
input.paymentDelay
{
	width: 30px;
}

/* @end */
/*
 * File /css/common/docs.css
 */

/* @override
	http://ui-studio.zenfac.local/css/common/docs.css
	http://christophe-louvet.zenfac.local/css/common/docs.css
*/

.mod.document {
	position: relative;
	line-height: 1.3;
}

.mod.document > .inner {
	padding: 10px 10px 30px;
	color: #666;
	background: #fff;
}

/* @group header */

.header {
	position: relative;
	overflow: hidden;
	padding: 10px;
	margin: 0 0 5px;
	color: #333;
	font-size: 14px;
	background: #bdbdb2;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.header strong {
	display: block;
	padding-top: 1px;
	font-weight: bold;
}

.identifiant {
	float: right;
	font-weight: bold;
	text-transform: uppercase;
}

.identifiant span {
	margin: 0 0 0 5px;
}

.identifiant span.draft {
	color: #fff;
	background: #b7955a;
	padding: 5px 10px;
	border: 1px solid #957949;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.sentAt {
	float: right;
	margin-right: 10px;
}

/* @end */

/* @group Author informations */

.authorRecap {
	min-height: 150px;
	margin: 0 0 10px 10px;
	width: 300px;
}

.authorRecap ul,
.recipientRecap ul {
	margin: 10px 0;
}

.authorRecap li {
	padding: 0 0 3px;
}

.authorRecap .contact {
	margin: 1em 0;
}

.authorRecap .contact th {
	padding-right: 5px;
}

.authorRecap .label,
.recipientRecap .label {
	color: #999;
}

/* @end */

/* @group Recipient informations */

.recipientRecap {
	position: absolute;
	right: 30px;
	top: 140px;
	width: 300px;
}

.recipientRecap .definition {
	font-size: 12px;
	color: #999;
}

.recipientRecap h1 {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.recipientRecap .address {
	font-size: 14px;
	text-transform: uppercase;
}

/* @end */

.extra-informations {
	margin: 40px 0 30px;
}

.parent-billing-string {
	margin: 0 10px 10px;
}

/* @group Message */

.document .msg {
	line-height: 14px;
}

.document div.edit {
	padding: 10px 10px 0;
	margin: 10px 0;
	border: 1px solid #d6d5c7;
	background: #f5f5eb;
}

.document .msg form {
	display: none;
}

.document .origin {
	margin: 0 10px;
	font-weight: bold;
}

.document .preview {
	margin: 0 10px;
}

.document .msgContent {
	display: block;
	margin: 0 0 5px;
	font-size: 12px;
}

.document .msg textarea {
	font-size: 12px;
	width: 644px;
	height: 150px;
}

form.msg .form-field {
	margin: 0;
	padding: 0;
}

/* @end */

/* @group Services */

.document table {
	width: 100%;
}

.document table.phone {
	width: auto;
}

.document col.price {
	width: 130px;
}

.document th {
	font-size: 13px;
	font-weight: bold;
}

.document th.price,
.document td.price {
	text-align: right;
}

.document .price-discount li,
.document .price-rebate li {
	margin: 0;
}

.document .price-discount .discount,
.document .price-rebate .rebate {
	padding: 0;
}

.document a.discounts-display {
	float: right;
	line-height: 11px;
}

/* @group thead */

.document thead th {


}

/* @end */

/* @group tbody */

.document .service td.description,
.document .service td.price {
	padding: 0 10px;
	border-bottom: 1px solid #e4e4e4;
}

.document td.services-edit {
	padding: 0;
}

.document table p.name {
	margin: 12px 0;
	font-weight: bold;
}

.document table p.description,
.document table p.unit-price {
	display: none;
}

.document table .has-description p.description,
.document table .has-unit-price p.unit-price {
	display: block;
	margin: 6px 0;
}

/* @group preview */

.preview-service {
	position: relative;
}

.preview-service:hover {
	background-color: #e7f2f3;
	cursor: move;
}

.preview-service div.actions {
	display: none;
	position: absolute;
	top: 0;
	right: 100px;
	margin: 7px 0 0;
	padding: 7px 7px 7px 3px;
	text-align: right;
	white-space: nowrap;
}

.preview-service:hover div.actions {
	display: block;
}

.preview-service div.actions a {
	background-color: #fff;
}

.preview-service a.admin:hover {
	background-color: #01a3d2;
}

.preview-service a.delete:hover {
	background-color: #d12f19;
}

.preview-service a.delete.sending-data,
.preview-service a.delete.sending-data:hover {
	text-decoration: none;
	background: url(/css/common/img/ajaxSubmit.gif);
}

.preview-service a.delete.sending-data span {
	visibility: hidden;
}

.preview-service div.actions .tva {
  background-color: #e7f2f3;
	font-size: 11px;
	padding-left: 5px;
	padding-right: 10px;
}

.preview-service form.service-delete {
	position: absolute;
	visibility: hidden;
	width: 1px;
	height: 1px;
	overflow: hidden;
}

/* @end */

/* @group form */

form.service,
.edit .preview-service {
	display: none;
}

.edit form.service,
.preview-service {
	display: block;
}

p.service-actions {
	margin: 10px 0;
}

form.service {
	padding: 10px 10px 0;
	margin: 10px 0;
	border: 1px solid #d6d5c7;
	background: #f5f5eb;
}

form.service label {
	font-size: 12px;
	font-weight: normal;
}

form.service td {
	vertical-align: middle;
}

form.service td.field-name {
	width: 292px;
}

form.service td.field-name input {
	width: 280px;
}

form.service td.field-unit-price {
	width: 280px;
}

form.service td.field-price {
	width: 81px;
}

form.service div.fieldset {
	position: relative;
	margin: 0 12px;
	padding: 5px 5px 5px 10px;
	border: 2px solid #d6d5c7;
	opacity: .8;
}
form.service .unit-price div.fieldset
{
	border-color: #5FDDFF;
	opacity: 1;
}

form.service table.field-unit-price div.fieldset {
	color: #000;
	width: 300px;
	border-color: #7bccdf;
}

form.service td.field-unit-price input.service-price-mode {
	position: absolute;
	margin: 0;
	padding: 0;
	top: 23px;
	left: -8px;
}

form.service td.field-unit-price input.service-quantity,
form.service td.field-unit-price input.service-unit-price {
	width: 60px;
	text-align: right;
}

form.service th.unit label {
	padding: 0 5px;
}

form.service td.form-field select {
	margin: 0 5px;
}

form.service td.field-price input {
	width: 56px;
	text-align: right;
}

form.service span.service-price-ht-preview,
form.service .unit-price input.service-price-ht {
	display: none;
}

form.service .unit-price span.service-price-ht-preview{
	display: block;
	text-align: right;
	line-height: 21px;
}

form.service td.field-description textarea {
	width: 560px;
}

/* @end */

/* @end */

/* @group tfoot */

.document table.service tfoot th {
	padding: 5px 0 10px;
	font-size: 12px;
	text-align: right;
}
.document table.service tfoot label {
	color: #666;
}

.document table.service tfoot form li .form-field-wrap {
	float: none;
}

.document table.service tfoot td.price {
	padding: 5px 10px 10px;
	border: none;
}

/* @end */

/* @end */

/* @group Price details */

.price-details col.price {
	width: 120px;
}

.price-details th,
.price-details td {
	text-align: right;
}

.price-details .inner {
	overflow: hidden;
	padding: 10px;
	margin: 0 0 5px;
	font-size: 14px;
	background: #bdbdb2;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.price-details th {
	color: #fff;
}

.price-details p {
	font-size: 11px;
	margin: 5px 10px 10px;
}

/* @end */

/* @group Delays */

ul.delays {
	padding: 10px;
	font-weight: bold;
	text-align: center;
}

ul.delays li {
	margin: 10px;
}

ul.delays li.form-field {
	padding: 0;
}

ul.delays label {
	display: inline;
	width: auto;
	color: #666;
}

ul.delays .form-field-wrap {
	display: inline;
	float: none;
}

.estimate ul.delays .invoice-delay label,
.amendment ul.delays .invoice-delay label {
	color: #999;
}

/* @end */

/* @group Footer */
.document .footer {
	margin-top: 12px;
	font-size: 10px;
	text-align: center;
}
/* @end */

.document .edit .submit {
	margin-top: 0;
}
/*
 * File /css/frontend/legals.css
 */

/* @override http://no-contact.zenfac/css/frontend/legals.css */

.legal-notice {
	font-size: 11px;
	padding: 10px;
}

.legal-notice h4 {
	margin: 0 0 .5em;
	padding: 0;
	font-weight: bold;
}

.legal-notice ul {
	margin: 0 0 1em;
	padding: 0;
}

.legal-notice li {
	margin: 0 0 0 2em;
	padding: .2em 0;
	list-style-type: disc;
}
.legal-notice .no-legal-notice
{
  display: none;
}
.legal-notice.empty .no-legal-notice
{
  display: block;
}
/*
 * File /css/frontend/legalsEditCall.css
 */

/* @override http://no-contact.zenfac/css/frontend/legalsEditCall.css */

.legal-notice.can-be-edited:hover {
	background-color: #e7f2f3;
}

.legal-notice,
.legals-edit-wrap {
	position: relative;
}

.legals-edit {
	clear: both;
}

.legals-edit-wrap .to-load {
	background-color: transparent;
}

.legals-edit-wrap {
	display: none;
	background-color: #F5F5EB;
	border: 1px solid #D6D5C7;
}

.legal-notice .swith-to-edit {
	visibility: hidden;
	position: absolute;
	top: 10px;
	right: 10px;
}

.legal-notice:hover .swith-to-edit {
	visibility: visible;
}

.legals-edit-wrap .switch-to-preview {
	float: right;
	margin: 10px 10px 0 0;
}

.legals-edit-wrap .help {
	float: left;
	width: 600px;
	margin: 15px 10px 10px;
}

.legal-notice a.admin {
	background-color: #fff;
}
.legal-notice a.admin:hover {
	background-color: #01a3d2;
}

.legals-edit-wrap .add-new-legal {
	margin: 10px;
}

.legals-edit form {
	margin: 20px 10px 10px;
}

.legals-edit form input,
.legals-edit form textarea {
	width: 640px;
}

.legals-edit form textarea {
	height: 100px;
}
/*
 * File /css/frontend/flash.css
 */

#flash {
	cursor: pointer;
	position: fixed !important;
	position: absolute;
	margin: 0 !important;
	padding: 0 !important;
	left: 0;
	top: -500px;
	width: 100%;
	height: 50px;
	color: #fff;
	background: #b6b6a4;
	z-index: 1;
	border-bottom: 4px solid #333;
}

#flash .wrap {
	width: 940px;
}

#flash.confirm,
#flash.notice {
	background: #58941c;
}

#flash.alert {
	background: #d12f19;
}

#flash .text {
	font-size: 16px;
	text-align: center;
}

/* @group Header */

#header .wrap {
	overflow: visible;
}

#header p {
	margin: 0;
}

#header p a {
	color: #fff;
	padding: 7px 4px;
}

#header p a:hover {
	color: #fff;
}

#header p.home {
	padding: 10px 0 5px;
	font-size: 24px;
	text-decoration: none;
	color: #fff;
}

#header p.home span {
	font-size: 16px;
	color: #999;
}

#header p.back {
	margin-left: 26px;
	padding-top: 7px;
}

/* @group .account */

#header .account {
	float: right;
	padding: 0 10px;
	margin: 13px 0 0;
	font-size: 12px;
	color: #b6b6a4;
}

#header .account li {
	position: relative;
	float: left;
	border-left: 1px solid #97978c;
}

#header .account .help {
	margin: 0;
}

#header .account .user {
	border: none;
}

#header .account a,
#header .account span,
#header .account strong {
	display: block;
	padding: 0 12px;
	margin: 0 4px;
	color: #fff;
	font-size: 12px;
	line-height: 26px;
}

#header .account span,
#header .account strong,
#header .account span em,
#header .account strong em {
	background: url(/css/frontend/img/header-nav-menu.png) no-repeat;
}

#header .account span,
#header .account strong {
	padding: 0 25px 0 0;
	background-position: 100% 0;
}

#header .account span em,
#header .account strong em {
	display: block;
	padding: 0 0 0 12px;
}

#header .account span:hover,
#header .account strong:hover {
	background-position: 100% 50%;
}

#header .account span:hover em,
#header .account strong:hover em {
	background-position: 0 50%;
}

#header .account .current span,
#header .account .current span:hover,
#header .account .current strong,
#header .account .current strong:hover {
	background-position: 100% 100%;
}

#header .account .current span em,
#header .account .current span:hover em,
#header .account .current strong em,
#header .account .current strong:hover em {
	background-position: 0 100%;
}

#header .account .submenu {
	display: none;
	position: absolute;
	left: 0;
	top: 31px;
	z-index: 100;
	padding: 12px 0 0;
	white-space: nowrap;
}

#header .account .submenu .arrow {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 12px;
	background: url(/css/frontend/img/header-nav-menu-arrow.png) no-repeat 50% 0;
}

#header .account ul {
	padding: 5px 0;
	background: #fff;

	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	box-shadow: 0 3px 10px rgba(0,0,0,0.2);

	filter:progid:DXImageTransform.Microsoft.Shadow(color='#aaaaaa', Direction=135, Strength=2);
  zoom: 1;
}

#header .account ul li {
	float: none;
	border: none;
}

#header .account ul a {
	margin: 4px 0;
	padding: 0px 15px;
	color: #006684;
}

#header .account ul a:hover {
	color: #fff;
	text-decoration: none;
	background: #01a3d2;
}

#header .account .new-section {
	border-top: 1px solid #e5e5e5;
}

/* @end */


/* @group .breadcrumbs */

ul.breadcrumbs {
	float: left;
	margin: 10px;
}

ul.breadcrumbs li {
	float: left;
}

ul.breadcrumbs li a,
ul.breadcrumbs li span {
	display: block;
	padding: 0 10px 0 25px;
	color: #333;
	font-size: 14px;
	line-height: 30px;
	text-decoration: none;
	background: #f5f5eb url(/css/frontend/img/breadcrumb.png) no-repeat 0 -90px;
}

ul.breadcrumbs li span {
	padding: 0 0 0 16px;
	color: #fff;
	font-weight: bold;
	background-color: transparent;
	background-position: 0 -180px;
}

ul.breadcrumbs li a.admin {
  display: inline;
	color: #d6d5c7;
	font-weight: normal;
	background: none;
}
ul.breadcrumbs li a.rename {
	display: none;
}

#header:hover ul.breadcrumbs li a.rename {
	display: inline;
}

ul.breadcrumbs li a.admin:hover {
	color: #fff;
	background-color: #01a3d2;
	text-decoration: none;
}

ul.breadcrumbs li span.nextOver {
	background-position: 0 -210px;
}

ul.breadcrumbs li a:hover {
	background-color: #d6d5c7;
	background-position: 0 -120px;
}

ul.breadcrumbs li a.prevOver {
	background-position: 0 -120px;
}

ul.breadcrumbs li a.nextOver {
	background-position: 0 -150px;
}

ul.breadcrumbs li#breadcrumbDashboard {
	background: #f5f5eb url(/css/frontend/img/breadcrumb.png) no-repeat 100% -60px;
}

ul.breadcrumbs li#breadcrumbDashboard a,
ul.breadcrumbs li#breadcrumbDashboard span {
	text-indent: -5000px;
	background-position: 0 0;
}

ul.breadcrumbs li#breadcrumbDashboard span {
	padding: 0 13px 0 36px;
	color: #333;
	text-indent: 0;
}

ul.breadcrumbs li#breadcrumbDashboard a:hover {
	background-position: 0 -30px;
}

/* @end */

/* @end */

/* @group Footer */

#footer {
}

#footer .main {
	color: #777;
	text-align: left;
}

#footer .aside {
	float: right;
	width: 220px;
	text-align: center;
}

#footer a,
#footer a:link,
#footer a:active,
#footer a:visited {
	display: inline;
	color: #999;
	padding: 0;
	text-decoration: underline;
}

#footer a:hover {
	color: #fff;
	background: none;
	text-decoration: none;
}

/* @end */

/* @end */

/* @group Components */

/* @group Disclaimer */

.disclaimer .hd {
	padding: 15px 10px 10px;
	margin: 0;
	line-height: 1.3;
	border: 1px solid #9ccbd7;
	text-align: center;
	background: #cee1e6;
	cursor: pointer;
}

.disclaimer .hd:hover {
	padding: 11px 6px 6px;
	border-width: 5px;
}

.disclaimer .hd h1,
.disclaimer .hd h2,
.disclaimer .hd h3 {
	float: none;
	display: block;
	margin: 0 0 10px;
	color: #006684;
	font-size: 24px;
	font-weight: bold;
}

.disclaimer h2 {
	font-size: 16px;
}

.disclaimer h3 {
	font-size: 14px;
}

.disclaimer a {
	color: #006684;
	text-decoration: underline;
}

.disclaimer a:hover {
	color: #0a6782;
	text-decoration: none;
}

.disclaimer p {
	margin: 10px 0;
	color: #5297ab;
	font-size: 14px;
}

.disclaimer .small {
	margin: 20px 0;
	font-size: 12px;
	line-height: 1.4;
	text-align: left;
}

body.dashboard .disclaimer {
	margin-top: 18px;
}

body.dashboard .no-access .no-access-explanation {
	background-color: rgba(245, 245, 235, 0.6);
}
body.dashboard .no-access .no-access-titre a {
	box-shadow: 0 0 .4em #F5F5EB;
	background: #F5F5EB;
}

/* @group .notice */

.notice .hd {
	border-color: #87c668;
	background: #e1ffd1;
}

.notice .hd:hover {
	border-color: #87c668;
}

.notice .hd h1,
.notice .hd h2 {
	color: #499524;
}

.notice a {
	color: #499524;
}

.notice p {
	margin: 10px 0;
	color: #6a9b51;
	font-size: 14px;
}

/* @end */

.tutorial {
	padding: 20px 40px 16px 60px;
	margin: 10px 10px 30px;
	color: #666;
	font-size: 12px;
	line-height: 18px;

	background: #ebebe0 url(/css/frontend/img/tutorial-icons.png) no-repeat -176px 0;

	border: 1px solid #d6d6cd;

	-webkit-box-shadow: inset 0 2px 5px 0 #a4a49a;
	-moz-box-shadow: inset 0 2px 5px 0 #a4a49a;
	box-shadow: inset 0 2px 5px 0 #a4a49a;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.tutorial p {
	margin: 6px 0;
}

.tutorial-alert {
	background-position: -132px -54px;
}

.tutorial-project {
	background-position: -88px -108px;
}

.tutorial-archive {
	background-position: -44px -162px;
}

.tutorial-history {
	background-position: 0 -216px;
}

/* @group .alert */

.alert .hd {
	border-color: #e8ab63;
	background: #f5e5d1;
}

.alert .hd:hover {
	border-color: #e8ab63;
}

.alert .hd h1,
.alert .hd h2 {
	color: #f58300;
}

.alert a {
	color: #d67300;
}

.alert p {
	margin: 10px 0;
	color: #f58300;
	font-size: 14px;
}

/* @end */

/* @end */

.help {
	margin: 0 0 5px;
	color: #5d5d4e;
	font-weight: normal;
}

.emptyList {
	color: #d6d6cd;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding: 10px;
}

.documents .emptyList {
	padding: 5px 0 0;
}

/* @group Contacts */

table {
	width: 100%;
	empty-cells: show;
}

.documents tr th,
.documents tr td {
	padding: 5px 10px;
	color: #5b5b57;
	line-height: 23px;
	white-space: nowrap;
	border-bottom: 1px solid #efefef;
}

.documents tbody tr:hover {
	background: #e7f2f3;
}

.documents tbody tr.form:hover {
	background: none;
}

.documents .type {
	width: 24px;
	padding: 5px 0;
	text-align: center;
	border: none;
}
.documents .title a:hover {
	text-decoration: none;
}
.documents .title .subject {
	font-weight: bold;
}
.documents tbody tr:hover .title a .subject {
	text-decoration: underline;
}

.documents .type a {
	display: block;
	width: 24px;
	height: 23px;
	padding: 0;
	color: #fff;
	font-size: 15px;
	line-height: 23px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background-color: #727266;
}

.documents .type a:hover {
	overflow: hidden;
	text-indent: -5000px;
	background-image: url(/css/common/img/preview-actions.png);
	background-repeat: no-repeat;
	background-position: 0 100%;
}

.documents .documents tbody td {
	cursor: pointer;
}


.documents .paid .type a,
.documents .confirmed .type a {
	background-color: #58941c;
}

.documents .paid td,
.documents .confirmed td {
	color: #558e1a;
}

.documents .expired .type a,
.documents .rejected .type a {
	background-color: #b6b6a4;
}

.documents .expired td,
.documents .rejected td {
	color: #aeae9d;
}

.documents .notice .type a {
	background-color: #f58300;
}

.documents .notice td {
	color: #e57b00;
}

.documents .alert .type a,
.documents .overdue .type a {
	background-color: #d12f19;
}
.documents .overdue.indulgence-period .type a {
  background-color: #666;
}

.documents .alert td,
.documents .overdue td {
	color: #c22c17;
}
.documents .overdue.indulgence-period td {
	color: #666;
}

.documents .credit-note .type a {
	background-color: #792b87;
}

.documents .credit-note td {
	color: #792b87;
}

.documents .draft .type a,
.documents .need-sending .type a,
.documents .overdue.need-sending .type a,
.documents .overdue.indulgence-period.need-sending .type a {
	background-color: #b7955a;
}

.documents .draft td,
.documents .need-sending td,
.documents .overdue.need-sending td,
.documents .overdue.indulgence-period.need-sending td {
	color: #ae8e56;
}

.documents .ref {
	padding: 0 0 0 5px;
}

.documents ul {
	padding: 0;
	list-style: none;
}

.documents li {
	margin: 0;
	padding: 0;
	background: none;
}

.documents .title {
	width: 100%;
}

.documents td a {
	color: inherit;
}

.documents td a.edit {
	color: #0A6782;
}

table.documents .amount {
	text-align: right;
}

/* @group #aside .documents */

#aside .documents tr td {
	padding: 0 0 2px;
	border: none;
}

#aside .documents tbody tr:hover {
	background: none;
}

#aside .documents .type a {
	margin: 0 5px 0 0;
}

#aside .documents .type a {
	width: 18px;
	height: 16px;
	padding: 1px 0 0;
	font-size: 12px;
	line-height: 16px;
}

#aside .documents .type a:hover {
	background-position: -3px -202px;
}

/* @end */

/* @end */

/* @group Project */

.project-new {
	font-size: ;
	margin: 10px;
}

/* header */

.project {
	position: relative;
}

.project .hd .id {
	float: left;
	width: 445px;
}

.project .hd h3 {
	padding: 0 0 2px;
	color: #006684;
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 0.1em;
}

.project .inner .hd {
	overflow: hidden;
	padding: 7px 5px;
	margin: 0;
	color: #5297ab;
	font-size: 14px;
	line-height: 24px;
	border: 5px solid #cee1e6;
}

.project .hd h3 a.admin {
	color: #5297ab;
	letter-spacing: 0;
}

.project .hd h3 a.admin:hover {
	color: #fff;
}

.project .hd .amount {
	float: right;
	font-size: 12px;
	text-align: right;
}

.project .hd strong {
	color: #006684;
	font-size: 14px;
}

.project .hd .lefttopay {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	padding-left: 6px;
}

.project.payment-overdue .hd .lefttopay strong {
	color: #c22c17;
}

.project .hd .total strong {
	font-size: 14px;
	font-weight: normal;
}

.project h2 {
	margin: 0;
	padding: 6px 10px;
	color: #5297ab;
	line-height: 9px;
	background: #cee1e6;
}

/* body */

.project .inner .bd,
.documents .inner .bd {
	padding: 10px 10px 15px;
}

.documents .inner .bd p {
	padding: 10px 0 0;
	font-size: 14px;
	text-align: center;
}

/* footer */

.documents .inner .ft {
	overflow: hidden;
	padding: 0;
	background: #e1e1d4;
}

.documents .ft ul {
	float: right;
}

.documents .ft li {
	float: right;
}

.documents .ft li a {
	display: block;
	padding: 0 10px 0 30px;
	margin: 0;
	color: #444;
	font-size: 16px;
	font-weight: bold;
	line-height: 32px;
	text-decoration: none;
	border-left: 1px solid #fff;
	background: no-repeat url(/css/frontend/img/project-actions.png);
}
.documents .ft li.archive a {
  background-position: 0 -63px;
}
.documents .ft li a:hover {
	background-color: #cbcbbc;
}

.documents .ft .invoice a {
	padding-left: 35px;
	background-position: 0 -32px;
}

.documents .ft .archive a {
	padding-left: 35px;
	background-position: 0 -64px;
}

/* @group Archive */

.projectArchive .project > .inner {
	border-color: #b7955a;
}
.projectArchive .project .inner .hd {
	color: #974;
	background-color: #dbcaac;
	border-color: #dbcaac;
}
.projectArchive .project .hd h3 {
	color: #67401C;
}

.projectArchive .project .hd h3 small {
	color: #974;
	font-size: 14px;
}

.projectArchive .project .hd strong {
	color: #67401C;
}

/* @end */

/* @end */

/* @group Log */

.extra {
	margin: 0 10px 5px;
	border: 1px solid #d6d6cd;
}

.extra .hd {
	overflow: hidden;
	padding: 12px 10px 8px 32px;
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	background: #e1e1d4 url(/css/frontend/img/project-actions.png) no-repeat 0 -96px;
}

.extra .hd.active {
	background-position: 0 -128px;
}

.extra .hd:hover {
	background-color: #cbcbbc;
	cursor: pointer;
}

.extra .hd h3 {
	float: left;
}
.extra .hd .revenue {
	float: right;
	color: #888;
	font-weight: normal;
}

.extra .hd .revenue strong {
	color: #666;
	font-weight: bold;
}

.extra .hd p {
	float: right;
}

.extra >.bd {
	display: none;
	background: #fff;
}

.extra .bd ul {
	padding: 10px 10px 20px;
}

.extra li {
	overflow: hidden;
	padding: 7px 5px 5px;
	border-bottom: 1px solid #efefef;
}

.archives {
	margin-bottom: 20px;
}

.archives li:hover {
	background: #e7f2f3;
}

.extra li,
.extra li a {
	color: #999;
}

.extra li.confirm,
.extra li.confirm a {
	color: #558e1a;
}

.extra li.alert,
.extra li.alert a {
	color: #d12f19;
}

.extra .bd li a {
	float: left;
}

.extra .bd li a strong {
	font-weight: bold;
}

.extra .bd li span {
	float: right;
}

.log .bd li a {
	float: none;
}

.log .bd li span {
	float: left;
	width: 498px;
}

.log .bd li span.date {
	width: 160px;
	margin: 0 10px 0 0;
}

/* @group #archives */

#archives {
	clear: both;
}

div.archive {
	margin: 0 0 1px;
	text-align: right;
	background: #b6b6a4;
}

div.archive span {
	float: left;
	text-align: left;
}

div.archive h3 {
	margin: 0;
	padding: 0 10px 0 30px;
	color: #444;
	font-size: 14px;
	font-weight: bold;
	line-height: 32px;
	background: url(/css/frontend/img/project-closed.gif) no-repeat;
}

div.archive h3:hover,
div.archive h3.hover {
	background-color: #d6d5c7;
}

div.archive h3.open {
	background: url(/css/frontend/img/project-opened.gif) no-repeat;
}

div.archive h3.open:hover {
	background-color: transparent;
}

div.archive ul {
	padding: 10px;
	margin: 0;
}

div.archive li a {
	display: block;
	padding: 5px 10px 5px 20px;
	margin: 0 0 1px;
	color: #444;
	font-size: 12px;
	line-height: 14px;
	text-decoration: none;
	background: #d6d5c7;
}

div.archive li a strong {
	font-size: 14px;
	font-weight: bold;
}

div.archive li a:hover {
	background: #fff;
}

div.archive li.alert a {
	color: #900;
}

/* @end */

/* @end */

/* @group Form Vcard */

form.vcard {
	padding: 15px 15px 15px 85px;
	background-position: 15px 15px;
	background-repeat: no-repeat;
}

form.vcard li.head {
	min-height: 50px;
	margin-bottom: 20px;
}

form.vcard input.org {
	font-weight: bold;
	font-size: 15px;
}

form.vcard input.title {
	width: 100px;
}

ul.fieldList input {
	margin: 0;
}

ul.fieldList li {
	position: relative;
	margin: 0;
	padding: 0 0 3px;
}

ul.fieldList span.action {
	position: absolute;
	left: -65px;
	top: 5px;
	width: 60px;
}

ul.fieldList span.action a {
	float: right;
	width: 16px;
	height: 16px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

ul.fieldList span.action a.add {
	visibility: hidden;
	background-image: url(/css/frontend/img/add.png);
}

ul.fieldList span.action a.remove {
	margin-left: 4px;
	background-image: url(/css/frontend/img/delete.png);
}

ul.fieldList span.action a span {
	display: none;
}

ul.fieldList li.empty {
	display: none;
}

ul.fieldList li.first.empty,
ul.fieldList li.focus.empty {
	display: block;
}

ul.fieldList li.lastFieldFilled a.add {
	visibility: visible;
}

ul.fieldList li.empty a,
ul.fieldList li.lastFieldFilled.last a.add {
	visibility: hidden;
}

form.vcard ul.emails {
	margin-bottom: 15px;
}

/* @group Form Company */

form.vcard.company {
	background-image: url(/css/frontend/img/company.png);
}

/* @end */

/* @group Form Employee */

form.vcard.individual,
form.vcard.freelance,
form.vcard.employee {
	background-image: url(/css/frontend/img/human.png);
}

/* @end */

/* @group Form Address */

form input.postal_code {
	width: 65px;
}

form input.locality {
	width: 225px;
}

/* @end */

/* @end */

form input.url {
	width: 80px;
}

/* @end */

/* @group Overrides */


#main > h2 {
	clear: both;
	margin: 0 10px 6px;
	color: #999;
	font-size: 9px;
	letter-spacing: 0.2em;
	text-transform: uppercase;
}



#aside ul.links li.alert a {
	border: none;
}

/* @end */

#aside ul.links li.document {
	overflow: hidden;
}

#aside ul.links li.document a.preview {
	float: right;
	display: none;
	overflow: hidden;
	height: 0;
	width: 58px;
	padding: 15px 0 0;
	margin: 6px 0 5px;
	color: #fff;
	background: url(/css/common/img/preview-actions.png) no-repeat;
}

#aside ul.links li.document:hover a.preview {
	display: block;
}

#aside ul.links li.document a.preview:hover {
	background-position: 0 -15px;
}

#aside ul.links li.document a.document {
	position: relative;
	float: left;
	width: 138px;
	line-height: 22px;
	background: none;
}

#aside ul.links li.document a.document span {
	position: absolute;
	left: 0;
	top: 2px;
	width: 24px;
	height: 22px;
	background: url(/css/frontend/img/aside-links.png) no-repeat 0 -400px;
}

/* @end */



/* @end */

.joyride {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
}

a.sandbox-link,
a.sandbox-link:link,
a.sandbox-link:active,
a.sandbox-link:visited
{
  float: left;
  margin: 10px;
  padding: 0 13px 0;
  line-height: 30px;
  color: #F5F5EB;
  text-decoration: underline;
}
/*
 * File /css/frontend/message.css
 */

.popup.message.pdf .subject
{
  margin-bottom: 40px;
}
.popup.message.mail table
{
  margin-bottom: 30px;
}
.popup.message.mail th
{
  font-weight: bold;
  padding-right: 10px;;
}
.declinations
{
  padding: 2em 0;
}
.declinations .extra .hd h3
{
  color: #666;
}
.extra.message .mod > .inner
{
  padding: 1em;
}
.extra.message .mod > .inner > .hd
{
  font-size: 14px;
}
.extra.message .mod > .inner > .hd:hover
{
  background-color: #cee1e6;
  cursor: text;
}
