
/* @group General */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

body, textarea {
	color: #333;
	font: 12px/1.3 Candara, "Trebuchet MS", "Helvetica Neue", Helvetica, Verdana, "Verdana Ref", sans-serif;
}

body {
	width: 100%;
	min-width: 960px;
	background: #333;
}

.amp {
	font-family: Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;
}

ol, ul {
	list-style: none;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
}

caption, th, td {
	text-align: left;
	font-weight: normal;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: "";
}

blockquote, q {
	quotes: "" "";
}

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Links */

a,
a:link,
a:active,
a:visited {
	padding: 1px;
	color: #0a6782;
	outline: none;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #0a6782;
	outline: none;
	text-decoration: underline;
}

a.admin,
a.admin:link,
a.admin:active,
a.admin:visited,
a.delete,
a.delete:link,
a.delete:active,
a.delete:visited,
a.cancel,
a.cancel:link,
a.cancel:active,
a.cancel:visited {
	padding: 5px;
	color: #0a6782;
	font-size: 11px;
	font-weight: normal;
	line-height: 22px;
	text-decoration: underline;
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
}

a.error,
a.error:link,
a.error:active,
a.error:visited,
a.delete,
a.delete:link,
a.delete:active,
a.delete:visited,
a.cancel,
a.cancel:link,
a.cancel:active,
a.cancel:visited {
	color: #d12f19;
}

a.admin:hover {
	color: #fff;
	background-color: #01a3d2;
	text-decoration: none;
}

a.error:hover,
a.delete:hover,
a.cancel:hover {
	color: #fff;
	text-decoration: none;
	background-color: #d12f19;
}

strong {
	font-weight: bold;
}

/* Get rid of the dotted outline in Firefox */
button::-moz-focus-inner {
	border: 0;
}

/* >> The Magnificent CLEARFIX << */
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; } /* Hides from IE-mac \*/
.clearfix { display: block; }

/* @end */

/* @group Page Structure */

.wrap {
	position: relative;
	width: 960px;
	margin: 0 auto;
}

.print, #footerPrint {
	display: none;
}

/* @group Header */

#header {
	position: relative;
	color: #fff;
	background: #707070;
	border-bottom: 4px solid #333;
}

#header p.logo {
	position: absolute;
	top: 16px;
	width: 251px;
	height: 83px;
}

#header p.logo a.img {
	display: block;
	padding: 0;
}

#header .navigation {
	position: absolute;
	right: 0;
	bottom: 0px;
	margin: 0;
	padding: 0;
}

#header .navigation li {
	float: left;
	list-style-type: none;
	margin: 0 0 0 20px;
	padding: 0;
}

#header .navigation li a,
#header .navigation li a:link,
#header .navigation li a:hover,
#header .navigation li a:active,
#header .navigation li a:visited {
	display: block;
	margin: 0;
	padding: 10px 10px 13px;
	font-size: 14px;
	text-decoration: none;
	color: #B8B8B8;
}

#header .navigation li a:hover {
	color: #fff;
}

#header .navigation li.current a,
#header .navigation li.current a:hover {
	color: #f2f2f2;
	font-weight: bold;
	background: url(/css/common/img/header_nav_current.png) no-repeat 50% 100%;
}

/* @end */

/* @group Content */

#content {
	clear: both;
	background: #f5f5eb url(/css/common/img/background-linear.png) repeat-x;
}

#content .wrap {
	padding: 40px 0 0;
}

/* @group js-disabled */

.
body div.js-disabled {
	display: none;
}

body.js-disabled div.js-disabled {
	display: block;
}

/* @end */

#main {
	float: left;
	width: 720px;
}

#aside {
	float: left;
	width: 220px;
	margin: 0 10px;
}

#aside hr {
	margin: 10px 0 20px;
	border: 1px solid #d6d6cd;
	border-width: 1px 0 0;
}

/* @end */


/* @group TVA */

li.tvaNumber input {
	display: inline;
	text-align: center;
	width: 20px;
}

#userForm li.tvaNumber input.country,
#clientForm li.tvaNumber input.country,
#userForm li.tvaNumber input.siren {
	background: #f5f5eb;
	border-color: #f5f5eb;
}
ul.mdaAffiliated
{
  margin: 10px 0 0;
  padding: 0 20px;
}
ul.mdaAffiliated li
{
  margin: 0;
  padding: 0;
}

/* @end */




input.defaultUnitPrice
{
	width: 40px;
	text-align: right;
}
input.estimateValidationDelay,
input.paymentDelay
{
	width: 30px;
}



.mod.document {
	position: relative;
	line-height: 1.3;
}

.mod.document > .inner {
	padding: 10px 10px 30px;
	color: #666;
	background: #fff;
}

/* @group header */

.header {
	position: relative;
	overflow: hidden;
	padding: 10px;
	margin: 0 0 5px;
	color: #333;
	font-size: 14px;
	background: #bdbdb2;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.header strong {
	display: block;
	padding-top: 1px;
	font-weight: bold;
}

.identifiant {
	float: right;
	font-weight: bold;
	text-transform: uppercase;
}

.identifiant span {
	margin: 0 0 0 5px;
}

.identifiant span.draft {
	color: #fff;
	background: #b7955a;
	padding: 5px 10px;
	border: 1px solid #957949;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.sentAt {
	float: right;
	margin-right: 10px;
}

/* @end */

/* @group Author informations */

.authorRecap {
	min-height: 150px;
	margin: 0 0 10px 10px;
	width: 300px;
}

.authorRecap ul,
.recipientRecap ul {
	margin: 10px 0;
}

.authorRecap li {
	padding: 0 0 3px;
}

.authorRecap .contact {
	margin: 1em 0;
}

.authorRecap .contact th {
	padding-right: 5px;
}

.authorRecap .label,
.recipientRecap .label {
	color: #999;
}

/* @end */

/* @group Recipient informations */

.recipientRecap {
	position: absolute;
	right: 30px;
	top: 140px;
	width: 300px;
}

.recipientRecap .definition {
	font-size: 12px;
	color: #999;
}

.recipientRecap h1 {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
}

.recipientRecap .address {
	font-size: 14px;
	text-transform: uppercase;
}

/* @end */

.extra-informations {
	margin: 40px 0 30px;
}

.parent-billing-string {
	margin: 0 10px 10px;
}

/* @group Message */

.document .msg {
	line-height: 14px;
}

.document div.edit {
	padding: 10px 10px 0;
	margin: 10px 0;
	border: 1px solid #d6d5c7;
	background: #f5f5eb;
}

.document .msg form {
	display: none;
}

.document .origin {
	margin: 0 10px;
	font-weight: bold;
}

.document .preview {
	margin: 0 10px;
}

.document .msgContent {
	display: block;
	margin: 0 0 5px;
	font-size: 12px;
}

.document .msg textarea {
	font-size: 12px;
	width: 644px;
	height: 150px;
}

form.msg .form-field {
	margin: 0;
	padding: 0;
}

/* @end */

/* @group Services */

.document table {
	width: 100%;
}

.document table.phone {
	width: auto;
}

.document col.price {
	width: 130px;
}

.document th {
	font-size: 13px;
	font-weight: bold;
}

.document th.price,
.document td.price {
	text-align: right;
}

.document .price-discount li,
.document .price-rebate li {
	margin: 0;
}

.document .price-discount .discount,
.document .price-rebate .rebate {
	padding: 0;
}

.document a.discounts-display {
	float: right;
	line-height: 11px;
}

/* @group thead */

.document thead th {


}

/* @end */

/* @group tbody */

.document .service td.description,
.document .service td.price {
	padding: 0 10px;
	border-bottom: 1px solid #e4e4e4;
}

.document td.services-edit {
	padding: 0;
}

.document table p.name {
	margin: 12px 0;
	font-weight: bold;
}

.document table p.description,
.document table p.unit-price {
	display: none;
}

.document table .has-description p.description,
.document table .has-unit-price p.unit-price {
	display: block;
	margin: 6px 0;
}
/* @end */


/* @group tfoot */

.document table.service tfoot th {
	padding: 5px 0 10px;
	font-size: 12px;
	text-align: right;
}
.document table.service tfoot label {
	color: #666;
}

.document table.service tfoot form li .form-field-wrap {
	float: none;
}

.document table.service tfoot td.price {
	padding: 5px 10px 10px;
	border: none;
}

/* @end */

/* @end */

/* @group Price details */

.price-details col.price {
	width: 120px;
}

.price-details th,
.price-details td {
	text-align: right;
}

.price-details .inner {
	overflow: hidden;
	padding: 10px;
	margin: 0 0 5px;
	font-size: 14px;
	background: #bdbdb2;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.price-details th {
	color: #fff;
}

.price-details p {
	font-size: 11px;
	margin: 5px 10px 10px;
}

/* @end */

/* @group Delays */

ul.delays {
	padding: 10px;
	font-weight: bold;
	text-align: center;
}

ul.delays li {
	margin: 10px;
}

ul.delays li.form-field {
	padding: 0;
}

ul.delays label {
	display: inline;
	width: auto;
	color: #666;
}

ul.delays .form-field-wrap {
	display: inline;
	float: none;
}

.estimate ul.delays .invoice-delay label,
.amendment ul.delays .invoice-delay label {
	color: #999;
}

/* @end */

/* @group Footer */
.document .footer {
	margin-top: 12px;
	font-size: 10px;
	text-align: center;
}
/* @end */

.document .edit .submit {
	margin-top: 0;
}



/* @group Contacts */

table {
	width: 100%;
	empty-cells: show;
}

.documents tr th,
.documents tr td {
	padding: 5px 10px;
	color: #5b5b57;
	line-height: 23px;
	white-space: nowrap;
	border-bottom: 1px solid #efefef;
}

.documents tbody tr:hover {
	background: #e7f2f3;
}

.documents tbody tr.form:hover {
	background: none;
}

.documents .type {
	width: 24px;
	padding: 5px 0;
	text-align: center;
	border: none;
}
.documents .title a:hover {
	text-decoration: none;
}
.documents .title .subject {
	font-weight: bold;
}
.documents tbody tr:hover .title a .subject {
	text-decoration: underline;
}

.documents .type a {
	display: block;
	width: 24px;
	height: 23px;
	padding: 0;
	color: #fff;
	font-size: 15px;
	line-height: 23px;
	font-weight: bold;
	text-align: center;
	text-decoration: none;
	background-color: #727266;
}

.documents .type a:hover {
	overflow: hidden;
	text-indent: -5000px;
	background-image: url(/css/common/img/preview-actions.png);
	background-repeat: no-repeat;
	background-position: 0 100%;
}

.documents .documents tbody td {
	cursor: pointer;
}


.documents .paid .type a,
.documents .confirmed .type a {
	background-color: #58941c;
}

.documents .paid td,
.documents .confirmed td {
	color: #558e1a;
}

.documents .expired .type a,
.documents .rejected .type a {
	background-color: #b6b6a4;
}

.documents .expired td,
.documents .rejected td {
	color: #aeae9d;
}

.documents .notice .type a {
	background-color: #f58300;
}

.documents .notice td {
	color: #e57b00;
}

.documents .alert .type a,
.documents .overdue .type a {
	background-color: #d12f19;
}
.documents .overdue.indulgence-period .type a {
  background-color: #666;
}

.documents .alert td,
.documents .overdue td {
	color: #c22c17;
}
.documents .overdue.indulgence-period td {
	color: #666;
}

.documents .credit-note .type a {
	background-color: #792b87;
}

.documents .credit-note td {
	color: #792b87;
}

.documents .draft .type a,
.documents .need-sending .type a,
.documents .overdue.need-sending .type a,
.documents .overdue.indulgence-period.need-sending .type a {
	background-color: #b7955a;
}

.documents .draft td,
.documents .need-sending td,
.documents .overdue.need-sending td,
.documents .overdue.indulgence-period.need-sending td {
	color: #ae8e56;
}

.documents .ref {
	padding: 0 0 0 5px;
}

.documents ul {
	padding: 0;
	list-style: none;
}

.documents li {
	margin: 0;
	padding: 0;
	background: none;
}

.documents .title {
	width: 100%;
}

.documents td a {
	color: inherit;
}

.documents td a.edit {
	color: #0A6782;
}

table.documents .amount {
	text-align: right;
}

/* @group #aside .documents */

#aside .documents tr td {
	padding: 0 0 2px;
	border: none;
}

#aside .documents tbody tr:hover {
	background: none;
}

#aside .documents .type a {
	margin: 0 5px 0 0;
}

#aside .documents .type a {
	width: 18px;
	height: 16px;
	padding: 1px 0 0;
	font-size: 12px;
	line-height: 16px;
}

#aside .documents .type a:hover {
	background-position: -3px -202px;
}

/* @end */

/* @end */
