<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3 text-center">
    <h3>Set your Data</h3>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3">
    <form class="text-center" (ngSubmit)="onSubmit()" #billForm="ngForm">
      <div class="form-group">
        <label
          for="days"
          class="control-label">Days</label>
        <input
          type="number"
          id="days"
          name="days"
          ngModel
          class="form-control text-center"
          required>
      </div>
      <div class="form-group">
        <label
          for="income"
          class="control-label">Daily Income (€)</label>
        <input
          type="number"
          id="income"
          name="income"
          ngModel
          class="form-control text-center"
          required>
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="billForm.invalid">Submit</button>
    </form>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3 text-center">
    <div class="alert alert-danger" *ngIf="couldNotLoadData">An error occurred, please try again or submit new data!</div>
  <!--  <button class="btn btn-primary" (click)="onFetchStoredData()">I already stored data on the server!</button> -->
    <div class="loader" *ngIf="isLoading">Loading...</div>
  </div>
</div>
