<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3 text-center">
    <h3>Set your bill details</h3> <br>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3">
    <form class="text-center" (ngSubmit)="onSubmit()" #billForm="ngForm">
      <div class="form-group">
        <label
          for="days"
          class="control-label">Quantity (Days)</label>
        <input
          type="number"
          id="days"
          name="days"
          ngModel
          class="form-control text-center"
          required>
      </div>
      <div class="form-group">
        <label
          for="income"
          class="control-label">Daily Income (€)</label>
        <input
          type="number"
          id="income"
          name="income"
          ngModel
          class="form-control text-center"
          required>
      </div>
      <div class="form-group">
        <label
          for="client_name"
          class="control-label">Client Name</label>
        <input
          type="text"
          id="client_name"
          name="client_name"
          ngModel
          class="form-control text-center"
          required>
      </div>
      <div class="form-group">
        <label
          for="client_address"
          class="control-label">Client Address</label>
        <input
          type="string"
          id="client_address"
          name="client_address"
          ngModel
          class="form-control text-center"
          required>
      </div>
      <div class="form-group">
        <label
          for="bill_description"
          class="control-label">Description</label>
        <input
          type="string"
          id="bill_description"
          name="bill_description"
          ngModel
          class="form-control text-center"
          required>
      </div>
      <button class="btn btn-primary" type="submit" id="submit_btn" [disabled]="billForm.invalid">Submit</button>
    </form>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3 text-center">
    <div class="alert alert-danger" *ngIf="couldNotLoadData">An error occurred, please try again or submit new data!</div>
    <button class="btn btn-primary" (click)="onStoreData()">Data stored on the server!</button> 
    <div class="loader" *ngIf="isLoading">Loading...</div>
  </div>
</div>
